*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    background: rgb(92,92,92);
    background: linear-gradient(0deg, rgba(92,92,92,1) 0%, rgba(120,24,24,1) 100%);
    height: 100%;
}
.content-box{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    margin-top: 300px;
}
.menu-part{
    margin: 10px 0px;
    font-size: 20px;
    font-family: 'Comic Sans MS';
    height: 2em;
    border-radius: 5px;
    border: transparent;
}
.button-level{
    background-color:#d0d0d0;
}
.button-level:hover{
    background-color:#818181;
}
.name-input{
    box-sizing: border-box;
    border: 0;
    border: 2px solid transparent;
    padding: 3px 5px;
}
.name-input:focus{
    border: 2px solid black;
}
.score{
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px 30px;
    font-size: 20px;
    font-family: 'Comic Sans MS';
    padding: 10px;
    border: 3px black solid;
    border-radius: 15px;
    background-color: rgba(92,92,92,1);
}


/*Модальное окно*/

.modal{
    z-index: 1000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000c3;
}
@keyframes modalOpen{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes contentOpen{
    from{
        top:500px;
    }
    to{
        top:0px;
    }
}
.modal-open{
    animation: modalOpen linear 1s;
}
.content-open{
    animation: contentOpen linear 1s;
}
.modal-content{
    position: relative;
    background-color: lightgray;
    border: solid 5px gray;
    border-radius: 15px;
    padding: 15px;
}

#difficulty{
    width: 100%;
    margin: 1em 0;
    font-size: 18px;
    font-family: 'Comic Sans MS';
    border: transparent;
    border-radius: 0;
}
.modal-button{
    background-color: white;
    font-size: 18px;
    font-family: 'Comic Sans MS';
    border: transparent;
    border-radius: 0;
    padding: 0.5em 1em;
    margin-right: 1em;
}
.modal-text{
    font-size: 16px;
    font-family: 'Comic Sans MS';
    margin: 0.5em 0;

}
/*UI*/
.ui-info{
    margin: 10px 30px;
    display: flex;
    justify-content: space-between;
}
.ui-element{
    margin: 0 10px;
    color: white;
    font-size: 20px;
    font-family: 'Comic Sans MS';
}